html,body{height: 100%;}
html { font-size:100%; }

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}
@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}
@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} }


ul#menu
{ margin: 2px 0px 18px 16px;
  padding: 0px;}

ul#menu li
{ list-style-type: square;
  margin: 0px 0px 6px 0px; 
  padding: 0px;}



#logo, #menubar
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background-color:  #ff751a;

	
opacity:0.9;

filter: alpha(opacity=50);
}



#logo
{ width: 870px;
  height: 127px;
  position: relative;
  background: transparent url(logo.png) no-repeat right;}

#logo #logo_text 
{ position: absolute; 
  top: 0;
  left: 0;}

#logo h1
{ font-family:normal 300% "Felix Titling";
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #777;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #B8BD20;}

#logo_text a:hover .logo_colour
{ color: #777;}




#logo h1
{ font-size: 500%;
  padding: 22px 0px 0px 0px;
  color: #777;}



#logo a
{ border: none;}

#menubar
{ width: 870px;
  height: 46px;
  padding-top: 4px;
  padding-left: 4px;} 

ul#menu
{ float: right;
  margin: 0px;}

ul#menu li
{ float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 6px;
  list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font-family: serif;
  font-size: 100%;
  display: block; 
  float: left; 
  height: 20px;
  text-decoration: none; 
  padding: 9px 22px 5px 16px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  border: none;} 

ul#menu li.selected a
{ height: 20px;
  padding: 7px 22px 4px 16px;}

ul#menu li.selected
{ margin: 7px 0 0 0;
  background: #635B53 url(tabs.png) no-repeat 0 0px;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #635B53 url(tabs.png) no-repeat 100% 0px;
  color: #FFF;}

ul#menu li a:hover
{ color: #A4AA04;}


@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: #000000;
}





.wrapper {
	width: 90%;
	margin: 50px auto;
	background-color:#000000;
}

div.gallery {
	margin-top: 30px;
}

div.gallery ul {
	list-style-type: none;
	margin-left: 35px;
}

/* animation */
div.gallery ul li, div.gallery li img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

div.gallery ul li {
	position: relative;
	float: left;
	width: 160px;
	height: 160px;
	margin: 5px;
	padding: 5px;
	z-index: 0;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
div.gallery ul li:hover {
	z-index: 5;
}

/* Image is position nicely under li */
div.gallery ul li img {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #dddddd;
	padding: 5px;
	width: 160px;
	height: 160px;
	background: #ffffff;
}

div.gallery ul li img:hover {
	width: 200px;
	height: 200px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
	-webkit-filter: drop-shadow(15px 15px 30px rgba(0, 153, 255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-webkit-filter: drop-shadow(10px 10px 20px rgba(0, 153, 255, 0.8));
}


}



/* Responsive hack */
@media only screen and (min-width: 499px) and (max-width: 1212px) {
	.wrapper {
		width: 500px;
	}
}

@media only screen and (max-width: 498px) {
	.wrapper {
		width: 300px;
	}

	div.gallery ul {
		list-style-type: none;
		margin: 0;
	}
}
